:root {
  --white: #fff;
  --red: #F85858;
  --org: #F59B47;
  --padding-top: 35px;
  --intro-fs: calc(20px + 2.5vw);
  --bo-size: 250px;
  --intro-size: 55px;
  --main-col: #0F0F0F;
  --page-height: calc(100% / 4);
  --padding: 60px;
}

#fullpage {
  padding: 0 var(--padding);
}

/* .fp-tableCell {
  vertical-align: top !important;
} */

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 400;
  padding: 35px var(--padding);
  box-sizing: border-box;
}

.icon {
  z-index: 400;
}

.btn-con {
  position: relative;
  height: 36px;
  height: 100%;
  display: flex;
  align-items: center;
}

.option {
  cursor: pointer;
}

.option,
.option-c {
  position: absolute;
  right: 0;
  z-index: 350;
}

.option-c {
  display: none;
  opacity: 0.5;
  cursor: pointer
}

.menu {
  display: flex;
  width: auto;
  overflow: hidden;
  flex-wrap: nowrap;
  opacity: 0;
  right: 30px;
  position: absolute;
  transform: translateY(-120%);
  background: transparent;
}

.menu>a {
  text-decoration: none;
  color: #fff;
}

.menu-option:hover {
  font-weight: 600;
}

.menu-option {
  margin: 0 20px;
  font-size: calc(12px + 0.35vw);
  cursor: pointer;
  flex-shrink: 0;
}

.load {
  width: 100%;
  height: var(--page-height);
  background: var(--main-col);
  z-index: 250;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

#txt-w {
  color: var(--white);
}

#txt-o {
  color: var(--org);
}

/* Intro */
.main-outer {
  position: fixed;
  height: calc(100% / 4);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-con {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 250;
  position: relative;
}

.main-l-con {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-r-con {
  display: flex;
  flex: 4;
  justify-content: flex-end;
}

.hi {
  font-size: 20px;
  margin-left: 5px;
}

.name {
  color: #467AFF;
  font-size: var(--intro-size);
}

.title {
  font-size: 25px;
  margin-top: calc(5px + .15vw);
}

.btn-work {
  border: 3.5px solid #fff;
  padding: 15px 30px;
  border-radius: 10px;
  background: var(--main-col);
  color: #fff;
  font-size: calc(12px + .15vw);
  margin-top: 35px;
  cursor: pointer;
  transition: background .5s;
}

.btn-work:hover {
  background: #467AFF;
}

.bo-con {
  width: var(--bo-size);
  height: var(--bo-size);
  object-fit: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #fff;
}

.bo {
  width: 130%;
}

.icon-scroll {
  opacity: .4;
}

.more-con {
  position: fixed;
  bottom: 5px;
  display: flex;
  align-items: center;
}

.more {
  margin-left: 12px;
  font-size: 12px;
  opacity: .5
}

/* Source */
.source-con {
  margin-bottom: 25px;
  position: fixed;
  bottom: 5px;
  left: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 250;
}

.sor {
  margin-top: 15px;
  cursor: pointer;
  opacity: .5;
  transition: opacity .3s;
}

.sor>svg {
  color: #7a7a7a;
  transition: color .3s;
}


.sor:hover>svg {
  color: white;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #fullpage {
    padding: 0 35px;
  }

  .source-con {
    bottom: 0;
  }

  .nav {
    padding: 25px var(--padding);
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 300;
    padding: 0 var(--padding);
    background: var(--main-col);
  }

  .menu-option {
    padding: 25px 0;
    margin: 0;
    font-size: calc(18px + 0.35vw);
  }

  .main-con {
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0 60px;
  }

  .main-r-con {
    order: 1;
    margin-bottom: 25px;
  }

  .main-l-con {
    order: 2;
  }

  .btn-work {
    width: 100%;
    padding: 12px 15px;
  }

  .hi {
    font-size: 16px;
  }

  .title {
    margin-top: 5px;
    font-size: 16px;
  }

  :root {
    --bo-size: 150px;
    --intro-size: 40px;
    --padding: 35px;
  }
}


/* Big screen */
@media only screen and (min-width: 1300px) {
  .main-con {
    max-width: ~850px;
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  :root {
    --intro-fs: calc(20px + 2.5vw);
    --bo-size: 300px;
    --intro-size: 70px;
  }

  .bo-con {
    max-height: 450px;
    max-width: 450px;
  }

  .hi {
    font-size: 25px;
    margin-left: 5px;
  }
}