@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html{
  height: -webkit-fill-available;  
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0F0F;
  padding: 0 55px;
  color: white;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}